---
import Layout from '../layouts/Layout.astro';
import "@/styles/index.css"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section class="hero">
		<h1>threetides</h1>
		<p>When the Moon rose in the Third Northern Hall I went to the Ninth Vestibule to witness the joining of three Tides. This is something that happens only once every eight years.</p>
		<p>The Ninth Vestibule is remarkable for the three great Staircases it contains. Its Walls are lined with marble Statues, hundreds upon hundreds of them, Tier upon Tier, rising into the distant heights.</p>
	</section>
</Layout>

